/* App.css */

.calculator {
  width: 300px;
  margin: 50px auto; /* Para centrar la calculadora */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}